#main-container {
	position: relative;
	padding: 0;
	padding-top: 89px;
}

.navbar.editor-action-bar {
	padding-top: 0;
	padding-bottom: 0;
	// position: absolute;
	// right: 0;
	// left: 0;
}

.navbar.thulium-editor-tab-bar {
	padding-top: 37px;
	padding-bottom: 0;
	padding-right: 0;
	position: fixed;
	border-bottom: 1px solid transparentize(#222, 0.5);
	overflow: hidden;
	// position: absolute;
	// right: 0;
	// left: 0;
}

.navbar-expand-md .navbar-nav .nav-link.editor-action-bar-button {
	padding-top: 0.4rem;
	padding-bottom: 0.2rem;
	line-height: 1.2;
	overflow: hidden;

	& > span {
		display: block;
		white-space: nowrap;
		max-width: 120px;
		overflow: hidden;
	}

	& > small {
		display: block;
		color: rgba(255, 255, 255, 0.25);
		font-size: 50%;
	}
}

.overflow-arrows {
	border-left: 1px solid transparentize(#222, 0.5);
}
