@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/bootstrap-grid";
@import "~bootstrap/scss/utilities/_background";
@import "~bootstrap/scss/utilities/_position";
@import "~bootstrap/scss/utilities/_text";
@import "~bootstrap/scss/utilities/_spacing";
@import "~bootstrap/scss/_navbar.scss";
@import "~bootstrap/scss/_nav.scss";
@import "~bootstrap/scss/_dropdown.scss";
@import "~bootstrap/scss/_modal.scss";
@import "~bootstrap/scss/_buttons.scss";
@import "~bootstrap/scss/_forms.scss";

body {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

// Make app full-screen
body, html, #app {
  height: 100%;
  min-height: 100%;
  max-height: 100%;
  width: 100%;
  min-width: 100%;
  max-width: 100%;
  overflow: scroll;
}

#app {
  display: table;
}

.full-height {
	height: 100%;
  min-height: 100%;
  max-height: 100%;
  overflow: scroll;
}