$file-width: 150px;
$course-width: 300px;

.file-tab-item {
	width: $file-width;
	min-width: $file-width;
	max-width: $file-width;
	position: relative;

	.remove-file-button {
		position: absolute;
		right: 0;
		top: 0;
		background-color: transparent;
		color: white;
		outline: none;
		border: none;
		z-index: 99999;
		display: none;
	}

	&:hover {
		.remove-file-button {
			display: block;
		}
	}

	
}

.course-tab-item {
	width: $course-width;
	min-width: $course-width;
	max-width: $course-width;
}

.files-tab-bar {
	max-height: 52px;
	padding-bottom: 17px;
	overflow-y: hidden;
	overflow-x: auto;
}

.thulium-tab {
	&.course-tab {
		padding: 20px;

		.list-group {

			.badge {
				font-size: 50%;
			}

			.badge + .badge {
				margin-left: 5px;
			}

			.list-group-item {
				padding: 0.5rem 0.75rem;
			}

			p {
				margin: 0;
			}
		}

		.table .btn {
			padding: 0;
		}
	}

	.task {
		position: absolute;
		top: 0;
		right: 0;
		height: 100%;
		width: 0px;
		background-color: white;
		transition: width ease-in .3s;
		z-index: 1029;
		padding: 10px;
		overflow: hidden;
		visibility: hidden;

		&.open {
			width: 300px;
			visibility: visible;
		}
	}

	.query-error-text {
		font-family: 'Courier';
	}
}